body{
	background:#0d161d;
	font-family: 'Open Sans', sans-serif;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/RjgO7rYTmqiVp7vzi-Q5URJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/LWCjsQkB6EMdfHrEVqA1KRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/xozscpT2726on7jbcb_pAhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/59ZRklaO5bWGqF5A9baEERJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

#cern_dashboard{
	width:100%;
	height:100%;
	margin-left:auto;
	margin-right:auto;
}

#cern_dashboard_inner{
	margin: auto;
	width:95%;
	height:95%;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

#cern_dashboard_header{
	height:110px;
	width:100%;
}

#cern_headerTitle{
	height:100%;
	float:left;
	width:600px;
}

#cern_headerMenu{
	height:100%;
	width:auto;
	float:right;
}

#cern_headerMenuinner{
	vertical-align: middle;
	padding-top:20px;
	color:b5b8bf;
	float:right;
	font-size:12pt
}

.menuItem{
	color:b5b8bf;
	float:left;
}

.menuItem_divider{
	color:b5b8bf;
	float:left;
	margin-left:5px;
	margin-right:5px;
}

.menuItem_active{
	color:dbd54e;
	float:left;
}

#cern_dashboard_body{
	width:100%;
	padding-top:10px;
}

.cern_panel{
	margin-right:100px;
	margin-top:20px;
	float:right;
	-webkit-user-drag: element;
}

.cern_diagram{
	margin:10px;
	width:50%;
	float:left;
	-webkit-user-drag: element;
}

.cern_panel_ttext{
	margin:10px;	
	color:b5b8bf;
}

.cern_panel_content{
	padding:5px;
	margin-bottom:1px;
	width:100%;
}

.cern_panel_filler{
	height: 40px;
	width:100%;
}

.cern_panel_title{
	padding:10px;
	margin-bottom:2px;
	width:100%;
	border-bottom: 1px solid #b5b8bf;
}

.cern_panel_ctextTitle{
	margin-left:10px;
	color:d9dadc;
	font-size:32pt;
}

.cern_panel_ctextTitlesub{
	margin-left:10px;
	color:dbd54e;
	font-size:18pt;
}

.cern_panel_ctextL{
	margin-left:10px;
	color:d9dadc;
	font-size:24pt;
	max-width: 500px;
}

.cern_panel_ctextM{
	margin-left:10px;
	color:b5b8bf;
	font-size:12pt;
	max-width: 500px;
}

table{
	color:b5b8bf;
	font-size:12pt;
	width:500px;
}

.cern_panel_ctextS{
	margin-left:10px;
	color:989ba2;
	font-size:8pt;
	max-width: 500px;
}

#cern_logo{
	background: #fff;
    border: 5px solid #fff;
    border-radius: 12px;
    box-shadow: 0 1px 1px rgba(136,153,166,0.15);
    height: 100px;
    position: relative;
    width: 100px;
	margin-left:10px;
	float:left;
}

#cern_logoimg{
    border-radius: 8px;
    height: 100px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100px;
}