.entry{
	display: inline-block;
	width:50%;
	margin-top:20px;
	margin-left: 100px;
	background-color:#fff;
	padding:10px;
	overflow:auto;
	border-bottom: 1px solid #ececec;
}

.entry_icon{
	width:50px;
	height:50px;
	margin-right: 5px;
	margin-top:2px;
    border: 1px solid black;
	float: left; 
	z-index: 10;
	position: relative;
}

.entry_headerwrapper{
	float:left;
	margin-bottom:5px;
	background-color:none;
}

.entry_titlewrapper{
	background-color:none;	
}

.entry_title{
	font-size:14pt;
	position:relative;
	padding-top:3px;
	padding-bottom:3px;
}

.entry_keywords{
	font-size:11pt;
	width:100%;
}

.entry_descwrapper{
	margin-bottom:10px;
	background-color:none;
}

.entry_desc{
	float:left;
	font-size:11pt;
	padding-top:5px;
}

.entry_detailswrapper{
	float:left;
	font-size:10pt;
	background-color:none;
}

.entry_details{
	padding-top:5px;
}