#search_input_container{
	width:100%;
	border-bottom: 1px solid #dedede;
	overflow:hidden;
	background-color:#f4f4f4;
}

#search_logo_container{
	height:75px;
	width: 200px;
	margin:0 auto;
	float:left;
	padding-top:10px;
}

#search_text_container{
	height:75px;
	width:50%;
	padding-top:30px;
	margin-left:auto;
	margin-right:auto;
	float:left;
}

#search_form_container{
	width:100%;
	padding-top:5px;
	margin-left:auto;
	margin-right:auto;
	float:left;
}

#result_container{
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}

#inputtext{
	width:85%;
	height:30px;
}

#search_text{
	width:75%;
	float:left;
	padding-right:23px;
}

#search_icon{
	float:left;
	margin-top:-1px;
	height:30px;
	width:35px;
}

img{
	margin-left:auto;
	margin-right:auto;
	display: block;
}

#icon {
    background:url(../img/searchicon.png) no-repeat;
    cursor:pointer;
    width: 30px;
    height: 30px;
    border: none;
    margin-left:5px;
}

#search_choice_container{
	width:68%;
	margin-left:auto;
	margin-right:auto;
	height:30px;
	float:left;
}

#choice{
	position: relative;
	float:right;
	padding-right:15px;
	padding-top:5px;
}

#search{
	position: relative;
	float:right;
	padding-right:18px;
	padding-top:5px;
}