html,body{
	border:0;
	font:inherit;
	font-family: 'Slabo 27px', serif;
	font-size:100%;
	vertical-align:baseline;
	margin:0;
	padding:0;
}

input {
	background-color:white;
	border: 1px solid;
	border-radius: 3px;
	border-color:#bfbfbf;
	font-size:8pt;
	margin-top:3px;
	padding-top:3px;
	padding-bottom:4px;
}

hr {
	height: 1px;
	color: #eeeeee;
	background-color: #eeeeee;
	border: none;
}

html {
	line-height:1;
	overflow:hidden;
	overflow-y:auto;
	background-color:#fff;
	font-size:90%;
	-webkit-font-smoothing:subpixel-antialiased;
	-webkit-text-size-adjust:100%;
}

h1{
	font-size:24px;
	color:Black;
}

h2{
	font-size:18px;
	color:#db8e00;
}

table {
	border-collapse:collapse;
	border-spacing:0;
	display:table;
}

caption,th,td {
	text-align:left;
	font-weight:400;
	vertical-align:middle;
}

q,blockquote {
	quotes:none;
}

q:before,q:after,blockquote:before,blockquote:after {
	content:none;
}

#container{
	width:90%;
	margin-left:50px;
}

#top{
	width:100%;
	height:50px;
}

input {
	padding-left:5px;
}

a:link {
    text-decoration: none;
	color:#025d88
}

a:visited {
    text-decoration: none;
	color:#333333
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

u{
	color:#db8e00;
}

i{
	color:#999999;
}