#input_container{
	width:50%;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
}

#input_containerS{
	width:50%;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
}

#logo_container{
	width:100%;
	height:auto;
}

#image_container{
	width:100%;
	height:200px;
	margin: 0 auto;
}

#quote_container{
	width:70%;
	height:auto;
	margin-left:15%;
	margin-right:15%;
	font-size:14pt;
	font-style:italic;
	color:#0f0f0f;
}

#text_container{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	padding-top: 5px;
}

#result_container{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}

#inputtext{
	width:90%;
	height:30px;
	margin-left:30px;
	z-index: 2;
}

#mOptions{
	font-size:12pt;
	float:left;
	padding-top:2px;
}

#advancedS{
	display:block;
	width:90%;
	height:30px;
	margin-left:30px;
	color:#db8e00;
	font-size:12pt;
	padding-bottom:10px;
}

.advancedSearch{
	display:block;
	width:90%;
	height:30px;
	margin-left:30px;
	z-index: 2;
}

.advancedLabel{
	display:block;
	float:left;
	width:200px;
	margin-right:20px;
	padding-top:5px;
}

.advancedText{
	display:block;
	float:right;
	width:60%;
	height:25px;
	min-width: 200px;
	min-height:25px;
	margin-right:20px;
}

#advButton{
}

#adv{
	float:left;
}

#inputtext2{
	width:90%;
	height:20px;
	margin-left:35px;
	margin-top:-25px;
	background: none repeat scroll 0 0 #FFFFFF;
    border-color: transparent;
    color: silver;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}


img{
	margin-left:auto;
	margin-right:auto;
	display: block;
}

#icon {
    background:url(../img/searchicon.png) no-repeat;
    cursor:pointer;
    width: 30px;
    height: 30px;
    border: none;
    margin-left:5px;
}

#choice_container{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	height:30px;
}

.choice{
	position: relative;
	float:right;
	padding-right:15px;
	padding-top:5px;
}

#mSelectBox{
	position: relative;
	float:right;
	padding-top:10px;
	width:115px;
}

#mSelect{
	width:100px;
}

.search{
	position: relative;
	float:right;
	padding-right:15px;
	padding-top:5px;
}

#bottom{
	position: fixed;
    bottom: 0;
    left: 0;
	height:50px	;
	width:100%;
	border-top: 1px solid #dedede;
	overflow:auto;
	background-color:#f4f4f4;
}

#bottom_disclaimer{
	padding-top:15px;
	padding-right:25px;
	float:right;
	height:50%;

}
